@font-face {
  font-family: "Al_Mushaf";
  src: url("fonts/Al_Mushaf.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kaleel";
  src: url("fonts/kaleel.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KFGQ_hafs";
  src: url("fonts/KFGQ_hafs.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "khayma";
  src: url("fonts/khayma.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "madani";
  src: url("fonts/madani.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "me_quran";
  src: url("fonts/me_quran.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "qalam";
  src: url("fonts/qalam.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Qayyum";
  src: url("fonts/Qayyum.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

textarea {
  width: 85vw;
  height: 250px;
  font-size: 35px;
  padding: 20px;
  direction: rtl;
  font-family: "KFGQ_hafs", Traditional Arabic, Arial, sans-serif;
}

.keyboard {
  display: grid;
  padding: 50px;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.key {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  transition: 0.2s;
}

.key:hover {
  background-color: #ddd;
}

.controls {
  margin: 10px 0;
}
